<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <title>Редактор онтологий</title>
</head>
<body>


	<div class="form-popup" id="comment_Form">   
		    <form method=POST action="" class="form-container">
		    	{% csrf_token %}
			        {{ comment_form.as_p }} 
			        <button type="submit" class="create-choice-button">Add comment</button>
			        <button type="button" class="del_button" onclick="closeCommentForm()">Close</button>
		    </form>
	</div>

	<div class="form-popup" id="save_Form">   
		    <form method=POST action="" class="form-container">
		    	{% csrf_token %}
			        {{ save_form.as_p }} 
			        <button type="submit" class="create-choice-button">Save</button>
			        <button type="button" class="del_button" onclick="closeSaveForm()">Close</button>
		    </form>
	</div>

	<div class="form-popup" id="open_Form">   
		    <form method=POST action="" class="form-container" enctype="multipart/form-data">
		    	{% csrf_token %}
			        {{ open_form.as_p }} 
			        <button type="submit" class="create-choice-button">Open</button>
			        <button type="button" class="del_button" onclick="closeOpenForm()">Close</button>
		    </form>
	</div>

<div class="tabs">

	<form method=POST action="">
    	{% csrf_token %}
        	{{ choice_ontology_form }}
        <button type="submit" class="create-choice-button">Choise ontology</button>
    </form>
   
    <form method=POST action="">
    	{% csrf_token %}
    	<div class="new_ontology">
	        {{ create_ontology_form }}
	        <button type="submit" class="create-choice-button">Create ontology</button>
        </div>
    </form>

    <input class="tab_input" type="radio" name="inset" value="" id="tab_1" onclick="location.href = '{% url 'ontology' %}';" {% if checked == 1 %} checked {% endif %}>
    <label for="tab_1">Ontology</label>

    <input class="tab_input" type="radio" name="inset" value="" id="tab_2" onclick="location.href = '{% url 'attributes' %}';" {% if checked == 2 %} checked {% endif %}>
    <label for="tab_2">Attributes</label>

    <input class="tab_input" type="radio" name="inset" value="" id="tab_3" onclick="location.href = '{% url 'requests' %}';" {% if checked == 3 %} checked {% endif %}>
    <label for="tab_3">Requests</label>

    <input class="tab_input" type="radio" name="inset" value="" id="tab_4" onclick="location.href = '{% url 'relations' %}';" {% if checked == 4 %} checked {% endif %}>
    <label for="tab_4">Relations</label>

    <div id="txt_1">
    	<div class="ontology_buttons">
			<button class="openSOC-button" onclick="openSaveForm()">Save</button>
			<button class="openSOC-button" onclick="openOpenForm()">Open</button>
			<button class="openSOC-button" onclick="openCommentForm()">Add Comment</button>
		</div>
	            <div class="treeHTML">
	             Ontology : <a href="#" onclick="openConceptForm('{{work_ontology.ontology_name}}'), deleteOntology('{{work_ontology.ontology_name}}')"> {{work_ontology.ontology_name}}</a>
		            {% for concept in work_ontology.concepts.all %}
		            		<div>Concept : <a href="#" onclick="openIndividualOrSubForm('{{concept.concept_name}}'), deleteConcept('{{concept.concept_name}}')">{{concept.concept_name}}</a>
		            			<details><summary></summary>
		            		{% if concept.sub_concepts.all %}
		            		
		            			{% for subconcept in concept.sub_concepts.all %}
		            				<div>Concept : <a href="#" onclick="openIndividualOrSubSubForm('{{ subconcept.sub_concept_name }}', '{{concept.concept_name}}'), deleteSubConcept('{{ subconcept.sub_concept_name }}','{{concept.concept_name}}')">{{ subconcept.sub_concept_name }} </a> 


		            	{% if subconcept.sub_concepts1.all %}
		            		<details><summary></summary>
		            			{% for subconcept1 in subconcept.sub_concepts1.all %}
		            				<div> Concept : <a href="#" onclick="openIndividualForSubSubForm('{{ subconcept1.sub_concept_name }}','{{ subconcept.sub_concept_name }}','{{concept.concept_name}}'), deleteSubSubConcept('{{ subconcept1.sub_concept_name }}','{{ subconcept.sub_concept_name }}','{{concept.concept_name}}')">{{ subconcept1.sub_concept_name }} </a>
				            		<details><summary></summary>            	
				            		{% for individual in subconcept1.individuals.all %}
				            				<div>Individual : <a href="#" onclick="deleteSubSubConceptIndividual('{{ subconcept1.sub_concept_name }}', '{{subconcept.sub_concept_name}}','{{concept.concept_name}}', '{{individual.individual_name}}')">{{individual.individual_name}}</a>
				            					<details><summary></summary>
				            					{% for atr in individual.attributes.all %}
			            							 <div>Attribute : {{atr.attribute_name}} : {{atr.attribute_value}}</div>
			            						{% endfor %}
			            						</details>
			            					</div>
			            				{% endfor %}	
			            				</details>
		            				</div>
				            	{% endfor %} 
				         	            	
				            		{% for individual in subconcept.individuals.all %}
				            				<div>Individual : <a href="#" onclick="deleteSubConceptIndividual('{{subconcept.sub_concept_name}}','{{concept.concept_name}}', '{{individual.individual_name}}')">{{individual.individual_name}} </a>
				            					<details><summary></summary>
				            					{% for atr in individual.attributes.all %}
			            							 <div>Attribute : {{atr.attribute_name}} : {{atr.attribute_value}}</div>
			            						{% endfor %}
			            						</details>
			            					</div>
			            				{% endfor %}	
			            				</details>		            							            	        	
		            		{% else %}
				            		<details><summary></summary>            	
				            		{% for individual in subconcept.individuals.all %}
				            				<div>Individual : <a href="#" onclick="deleteSubConceptIndividual('{{subconcept.sub_concept_name}}','{{concept.concept_name}}', '{{individual.individual_name}}')">{{individual.individual_name}} </a>
				            					<details><summary></summary>
				            					{% for atr in individual.attributes.all %}
			            							 <div>Attribute : {{atr.attribute_name}} : {{atr.attribute_value}}</div>
			            						{% endfor %}
			            						</details>
			            					</div>
			            				{% endfor %}	
			            				</details>
 

				            {% endif %} 
				            	</div>
				            {% endfor %}
				           
				           
		            		{% for individual in concept.individuals.all %}
		            				<div>Individual : <a href="#" onclick="deleteConceptIndividual('{{concept.concept_name}}', '{{individual.individual_name}}')">{{individual.individual_name}}</a>
		            					<details><summary></summary>
		            					{% for atr in individual.attributes.all %}
	            							 <div>Attribute : {{atr.attribute_name}} : {{atr.attribute_value}}</div>
	            						{% endfor %}
	            						</details>
	            					</div>
		            		{% endfor %}
		            		</details>

		            		{% else %}
		            		            	
		            		{% for individual in concept.individuals.all %}
		            				<div>Individual :<a href="#" onclick="deleteConceptIndividual('{{concept.concept_name}}', '{{individual.individual_name}}')">{{individual.individual_name}}</a>
		            					<details><summary></summary>
		            					{% for atr in individual.attributes.all %}
	            							 <div>Аттриубт : {{atr.attribute_name}} : {{atr.attribute_value}}</div>
	            						{% endfor %}
	            						</details>
	            					</div>
		            		{% endfor %}
		            		
		            		{% endif %}
		            		</details>
		            		</div>
		            {% endfor %}
		            <p>{{ work_ontology.comment }}</p>
		        </div>

		        <div class="right_content">
					<div class="form-popup" id="add_concept_Form">   
						<button type="button" class="del_button" onclick="closeConceptForm()">Close</button>
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
						    		<p id="lb_add_concept"></p>
							        {{ add_concept_form.as_p }} 
							        <button type="submit" class="create-choice-button">Add concept</button>
						    </form>
					</div>

					<div class="del_form" id="del_ontology_Form">   
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
							        {{ delete_ontology_form.as_p }} 
							        <label>You definitely want to delete this ontology?</label><br>
							        <button type="submit" class="create-choice-button">Delete</button>
						    </form>
					</div>

					<div class="form-popup" id="add_individual_or_sub_Form">
						<button type="button" class="del_button" onclick="closeIndividualOrSubForm()">Close</button>
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
						    		<p id="lb_add_ind_or_sub"></p>
							        {{ add_individual_or_sub_form.as_p }}
							        <button type="submit" class="create-choice-button">Add</button>
							    
						    </form>
					</div>

					<div class="del_form" id="del_concept_Form">   
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
							        {{ delete_concept_form.as_p }} 
							        <label>You definitely want to delete this Concept?</label><br>
							        <button type="submit" class="create-choice-button">Delete</button>
						    </form>
					</div>

					<div class="form-popup" id="add_individual_or_sub_sub_Form">
						<button type="button" class="del_button" onclick="closeIndividualOrSubSubForm()">Close</button>
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
						    		<p id="lb_add_ind_or_sub_sub"></p>
							        {{ add_individual_or_sub_sub_form.as_p }}
							        <button type="submit" class="create-choice-button">Add</button>						        
						    </form>
					</div>


					<div class="del_form" id="del_subconcept_Form">   
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
							        {{ delete_subconcept_form.as_p }} 
							        <label>You definitely want to delete this SubConcept?</label><br>
							        <button type="submit" class="create-choice-button">Delete</button>
						    </form>
					</div>

					<div class="form-popup" id="add_individual_for_sub_sub_Form">
						<button type="button" class="del_button" onclick="closeIndividualForSubSubForm()">Close</button>
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
						    		<p id="lb_add_ind_for_sub_sub"></p>
							        {{ add_individual_for_sub_sub_form.as_p }}
							        <button type="submit" class="create-choice-button">Add</button>
						    </form>
					</div>

					<div class="del_form" id="del_sub_subconcept_Form">   
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
							        {{ delete_sub_subconcept_form.as_p }} 
							        <label>You definitely want to delete this SubConcept?</label><br>
							        <button type="submit" class="create-choice-button">Delete</button>
						    </form>
					</div>

					<div class="del_form" id="del_sub_sub_con_ind_Form">   
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
							        {{ delete_sub_sub_concept_individual_form.as_p }} 
							        <label>You definitely want to delete this individual?</label><br>
							        <button type="submit" class="create-choice-button">Delete</button>
							        <button type="button" class="del_button" onclick="closeDeleteSubSubConceptIndividual()">Close</button>
						    </form>
					</div>

					<div class="del_form" id="del_con_ind_Form">   
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
							        {{ delete_concept_individual_form.as_p }} 
							        <label>You definitely want to delete this individual?</label><br>
							        <button type="submit" class="create-choice-button">Delete</button>
							        <button type="button" class="del_button" onclick="closeDeleteConceptIndividual()">Close</button>
						    </form>
					</div>

					<div class="del_form" id="del_sub_con_ind_Form">   
						    <form method=POST action="" class="form-container">
						    	{% csrf_token %}
							        {{ delete_sub_concept_individual_form.as_p }} 
							        <label>You definitely want to delete this individual?</label><br>
							        <button type="submit" class="create-choice-button">Delete</button>
							        <button type="button" class="del_button" onclick="closeDeleteSubConceptIndividual()">Close</button>
						    </form>
					</div>


		        </div>
	</div>


    <div id="txt_2">

				            <div class="treeHTML">Ontology : {{work_ontology.ontology_name}} 
					            {% for concept in work_ontology.concepts.all %}
					            		<div>Concept : {{concept.concept_name}} 
					            			<details><summary></summary>
					            		{% if concept.sub_concepts.all %}		         		
					            			{% for subconcept in concept.sub_concepts.all %}
					            				<div>Concept : {{ subconcept.sub_concept_name }} 
					            	{% if subconcept.sub_concepts1.all %}
					            		<details><summary></summary>
					            			{% for subconcept1 in subconcept.sub_concepts1.all %}
					            				<div> Concept : {{ subconcept1.sub_concept_name }}
							            		<details><summary></summary>            	
							            		{% for individual in subconcept1.individuals.all %}
							            				<div>Individual :<a href="#" onclick="addSubSubConceptIndividualAttr( '{{ subconcept1.sub_concept_name }}', '{{subconcept.sub_concept_name}}', '{{concept.concept_name}}', '{{individual.individual_name}}')">{{individual.individual_name}}</a> 
							            					<details><summary></summary>
							            					{% for atr in individual.attributes.all %}
						            							 <div>Attribute : {{atr.attribute_name}} : {{atr.attribute_value}}</div>
						            						{% endfor %}
						            						</details>
						            					</div>
						            				{% endfor %}	
						            				</details>
					            				</div>
							            	{% endfor %} 
							         	            	
							            		{% for individual in subconcept.individuals.all %}
							            				<div>Individual : <a href="#" onclick="addSubConceptIndividualAttr('{{subconcept.sub_concept_name}}', '{{concept.concept_name}}', '{{individual.individual_name}}')">{{individual.individual_name}}</a>
							            					<details><summary></summary>
							            					{% for atr in individual.attributes.all %}
						            							 <div>Attribute : {{atr.attribute_name}} : {{atr.attribute_value}}</div>
						            						{% endfor %}
						            						</details>
						            					</div>
						            				{% endfor %}	
						            				</details>		            							            	        	
					            		{% else %}
							            		<details><summary></summary>            	
							            		{% for individual in subconcept.individuals.all %}
							            				<div>Individual : <a href="#" onclick="addSubConceptIndividualAttr( '{{subconcept.sub_concept_name}}', '{{concept.concept_name}}', '{{individual.individual_name}}')">{{individual.individual_name}}</a>
							            					<details><summary></summary>
							            					{% for atr in individual.attributes.all %}
						            							 <div>Attribute : {{atr.attribute_name}} : {{atr.attribute_value}}</div>
						            						{% endfor %}
						            						</details>
						            					</div>
						            				{% endfor %}	
						            				</details>
			 

							            {% endif %} 
							            	</div>
							            {% endfor %}
							           
							           
					            		{% for individual in concept.individuals.all %}
					            				<div>Individual : <a href="#" onclick="addConceptIndividualAttr('{{concept.concept_name}}', '{{individual.individual_name}}')">{{individual.individual_name}}</a>
					            					<details><summary></summary>
					            					{% for atr in individual.attributes.all %}
				            							 <div>Attribute : {{atr.attribute_name}} : {{atr.attribute_value}}</div>
				            						{% endfor %}
				            						</details>
				            					</div>
					            		{% endfor %}
					            		</details>

					            		{% else %}
					            		            	
					            		{% for individual in concept.individuals.all %}
					            				<div>Individual : <a href="#" onclick="addConceptIndividualAttr('{{concept.concept_name}}', '{{individual.individual_name}}')">{{individual.individual_name}}</a>
					            					<details><summary></summary>
					            					{% for atr in individual.attributes.all %}
				            							 <div>Аттриубт : {{atr.attribute_name}} : {{atr.attribute_value}}</div>
				            						{% endfor %}
				            						</details>
				            					</div>
					            		{% endfor %}
					            		
					            		{% endif %}
					            		</details>
					            		</div>
					            {% endfor %}
					        </div>

					<div class="right_content">
						<div class="form-popup" id="add_atr_con_Form">
							    <form method=POST action="" class="form-container">
							    	{% csrf_token %}
							    		<p id="lb_add_attr_for_con"></p>
								        {{ add_attribute_con_form.as_p }}
								        <button type="submit" class="create-choice-button">Add</button>
								        <button type="button" class="del_button" onclick="closeAddConceptIndividualAttr()">Close</button>
							    </form>
						</div>

						<div class="form-popup" id="add_atr_subcon_Form">
							    <form method=POST action="" class="form-container">
							    	{% csrf_token %}
							    		<p id="lb_add_attr_for_subcon"></p>
								        {{ add_attribute_subcon_form.as_p }}
								        <button type="submit" class="create-choice-button">Add</button>
								        <button type="button" class="del_button" onclick="closeAddSubConceptIndividualAttr()">Close</button>
							    </form>
						</div>

						<div class="form-popup" id="add_atr_subsubcon_Form">
							    <form method=POST action="" class="form-container">
							    	{% csrf_token %}
							    		<p id="lb_add_attr_for_subsubcon"></p>
								        {{ add_attribute_subsubcon_form.as_p }}
								        <button type="submit" class="create-choice-button">Add</button>
								        <button type="button" class="del_button" onclick="closeAddSubSubConceptIndividualAttr()">Close</button>
							    </form>
						</div>
					</div>
	</div>


    <div id="txt_3">
        <div id="add_atr_subcon_Form">
		    <form method=POST action="">
		    	{% csrf_token %}
			        {{ query_Form.as_p }}
			        <button type="submit" class="openSOC-button">Search!</button>
		    </form>
		</div>

		<p>Query result : {% if query_result %} {{ query_result }} {% else %} No matches found {% endif %}</p>
    </div>

    <div id="txt_4">
    	<div class="relation">
	    	{% for concept in work_ontology.concepts.all %}
	    		{% for subconcept in concept.sub_concepts.all %}
	    			<p> {{ subconcept.sub_concept_name}} - SubConcept - {{concept.concept_name}} </p>
	    		{% endfor %}
	    	{% endfor %}

	    	{% for concept in work_ontology.concepts.all %}
	    		{% for subconcept in concept.sub_concepts.all %}
	    			{% for subconcept1 in subconcept.sub_concepts1.all %}
	    				<p> {{ subconcept1.sub_concept_name}} - SubConcept - {{subconcept.sub_concept_name}} </p>
	    			{% endfor %}
	    		{% endfor %}
	    	{% endfor %}

	    	{% for concept in work_ontology.concepts.all %}
	    		{% for ind in concept.individuals.all %}
	    			<p> {{ ind.individual_name}} - Individual of Concept - {{concept.concept_name}} </p>
	    		{% endfor %}
	    	{% endfor %}

	    	{% for concept in work_ontology.concepts.all %}
	    		{% for subconcept in concept.sub_concepts.all %}
	    			{% for ind in subconcept.individuals.all %}
	    				<p> {{ ind.individual_name }} - Individual of Concept - {{subconcept.sub_concept_name}} </p>
	    			{% endfor %}
	    		{% endfor %}
	    	{% endfor %}

	    	{% for concept in work_ontology.concepts.all %}
	    		{% for subconcept in concept.sub_concepts.all %}
	    			{% for subconcept1 in subconcept.sub_concepts1.all %}
	    				{% for ind in subconcept1.individuals.all %}
	    				<p> {{ ind.individual_name }} - Individual of Concept - {{subconcept1.sub_concept_name}} </p>
	    				{% endfor %}
	    			{% endfor %}
	    		{% endfor %}
	    	{% endfor %}
    	</div>


    </div>

</div>
</body>

</html>

<script type="text/javascript">

function deleteConcept(concept_name) {
	document.getElementById("del_concept_Form").style.display = "block";
    document.getElementById("id_del_concept_name").value = concept_name; }


function deleteOntology(ontology_name) {
	document.getElementById("del_ontology_Form").style.display = "block";
    document.getElementById("id_del_ontology_name").value = ontology_name; }


function deleteConceptIndividual(concept_name, ind_name) {
	document.getElementById("del_con_ind_Form").style.display = "block";
    document.getElementById("id_del_concept_ind_name").value = concept_name;
    document.getElementById("id_del_indc_name").value = ind_name;  
}

function closeDeleteConceptIndividual() {
    document.getElementById("del_con_ind_Form").style.display = "none";
    document.getElementById("id_del_concept_ind_name").value = '';
    document.getElementById("id_del_indc_name").value = '';
}

function addConceptIndividualAttr(concept_name, ind_name) {
	document.getElementById("add_atr_con_Form").style.display = "block";
    document.getElementById("id_concept_for_attribute_name").value = concept_name;
    document.getElementById("id_individual_for_attribute_name").value = ind_name;  
    document.getElementById("lb_add_attr_for_con").textContent = "Add to " + ind_name; 
}

function closeAddConceptIndividualAttr() {
    document.getElementById("add_atr_con_Form").style.display = "none";
    document.getElementById("id_individual_for_attribute_name").value = '';
    document.getElementById("id_concept_for_attribute_namee").value = '';
}

function addSubConceptIndividualAttr(sub_concept_name, concept_name, ind_name) {
	document.getElementById("add_atr_subcon_Form").style.display = "block";
    document.getElementById("id_conc_for_attribute_name").value = concept_name;
    document.getElementById("id_individ_for_attribute_name").value = ind_name;
    document.getElementById("id_subconc_for_attribute_name").value = sub_concept_name;
    document.getElementById("lb_add_attr_for_subcon").textContent = "Add to " + ind_name;    
}

function closeAddSubConceptIndividualAttr() {
    document.getElementById("add_atr_subcon_Form").style.display = "none";
    document.getElementById("id_conc_for_attribute_name").value = '';
    document.getElementById("id_individ_for_attribute_name").value = '';
    document.getElementById("id_subconc_for_attribute_name").value = ''; 
}

function addSubSubConceptIndividualAttr(sub_sub_concept_name, sub_concept_name, concept_name, ind_name) {
	document.getElementById("add_atr_subsubcon_Form").style.display = "block";
    document.getElementById("id_con_for_attribute_name").value = concept_name;
    document.getElementById("id_ind_for_attribute_name").value = ind_name;
    document.getElementById("id_subcon_for_attribute_name").value = sub_concept_name;   
    document.getElementById("id_subsubcon_for_attribute_name").value = sub_sub_concept_name;  
    document.getElementById("lb_add_attr_for_subsubcon").textContent = "Add to " + ind_name; 
}

function closeAddSubSubConceptIndividualAttr() {
    document.getElementById("add_atr_subsubcon_Form").style.display = "none";
    document.getElementById("id_con_for_attribute_name").value = '';
    document.getElementById("id_ind_for_attribute_name").value = '';
    document.getElementById("id_subcon_for_attribute_name").value = '';   
    document.getElementById("id_subsubcon_for_attribute_name").value = '';
}

function deleteSubConceptIndividual(sub_concept_name, concept_name, ind_name) {
	document.getElementById("del_sub_con_ind_Form").style.display = "block";
	document.getElementById("id_del_subconcept_ind_name").value = sub_concept_name;
    document.getElementById("id_del_conc_ind_name").value = concept_name;
    document.getElementById("id_del_indsc_name").value = ind_name;  
}

function closeDeleteSubConceptIndividual() {
    document.getElementById("del_sub_con_ind_Form").style.display = "none";
   	document.getElementById("id_del_subconcept_ind_name").value = '';
    document.getElementById("id_del_conc_ind_name").value = '';
    document.getElementById("id_del_indsc_name").value = '';  
}

function deleteSubSubConceptIndividual(sub_sub_concept_name, sub_concept_name, concept_name, ind_name) {
	document.getElementById("del_sub_sub_con_ind_Form").style.display = "block";
	document.getElementById("id_del_subsubcon_ind_name").value = sub_sub_concept_name;
	document.getElementById("id_del_subcon_ind_name").value = sub_concept_name;
    document.getElementById("id_del_con_ind_name").value = concept_name;
    document.getElementById("id_del_indssc_name").value = ind_name;  
}

function closeDeleteSubSubConceptIndividual() {
    document.getElementById("del_sub_sub_con_ind_Form").style.display = "none";
 	document.getElementById("id_del_subsubcon_ind_name").value = '';
	document.getElementById("id_del_subcon_ind_name").value = '';
    document.getElementById("id_del_con_ind_name").value = '';
    document.getElementById("id_del_indssc_name").value = ''; }

function deleteSubConcept(sub_concept_name, concept_name) {
	document.getElementById("del_subconcept_Form").style.display = "block";
    document.getElementById("id_del_subconcept_name").value = sub_concept_name;
    document.getElementById("id_concept_name_for_del_sub").value = concept_name;
     }


function deleteSubSubConcept(sub_sub_concept_name, sub_concept_name, concept_name) {
	document.getElementById("del_sub_subconcept_Form").style.display = "block";
    document.getElementById("id_concept_name_for_del_sub_sub").value = concept_name;
    document.getElementById("id_sub_concept_name_for_del_sub_sub").value = sub_concept_name;
    document.getElementById("id_del_sub_sub_concept_name").value = sub_sub_concept_name;
    }


function openConceptForm(ontology_name) {
    document.getElementById("add_concept_Form").style.display = "block";
    document.getElementById("lb_add_concept").textContent = "Add to " + ontology_name;

}

function closeConceptForm() {
    document.getElementById("add_concept_Form").style.display = "none";
    document.getElementById("del_ontology_Form").style.display = "none";
    document.getElementById("id_del_ontology_name").value = '';
}

function openIndividualOrSubForm(concept_name_for) {
    document.getElementById("add_individual_or_sub_Form").style.display = "block";
    document.getElementById("id_concept_individual_name").value = concept_name_for;
    document.getElementById("lb_add_ind_or_sub").textContent = "Add to " + concept_name_for;
     }

function closeIndividualOrSubForm() {
    document.getElementById("add_individual_or_sub_Form").style.display = "none";
    document.getElementById("del_concept_Form").style.display = "none";
    document.getElementById("id_del_concept_name").value = '';
}

function openIndividualOrSubSubForm(sub_concept_name_for, concept_name_for) {
    document.getElementById("add_individual_or_sub_sub_Form").style.display = "block";
    document.getElementById("id_concept_name_for_sub").value = concept_name_for;
    document.getElementById("id_sub_concept_individual_name").value = sub_concept_name_for;
    document.getElementById("lb_add_ind_or_sub_sub").textContent = "Add to " + sub_concept_name_for;
     }

function closeIndividualOrSubSubForm() {
    document.getElementById("add_individual_or_sub_sub_Form").style.display = "none";
    document.getElementById("del_subconcept_Form").style.display = "none";
    document.getElementById("id_del_subconcept_name").value = '';
    document.getElementById("id_concept_name_for_del_sub").value = '';
}

function openIndividualForSubSubForm(sub_sub_concept_name_for, sub_concept_name_for, concept_name_for) {
    document.getElementById("add_individual_for_sub_sub_Form").style.display = "block";
    document.getElementById("id_concept_name_for_sub_add").value = concept_name_for;
    document.getElementById("id_sub_concept_individual_name_add").value = sub_concept_name_for;
    document.getElementById("id_sub_sub_concept_individual_name_add").value = sub_sub_concept_name_for;
    document.getElementById("lb_add_ind_for_sub_sub").textContent = "Add to " + sub_sub_concept_name_for;
     }

function closeIndividualForSubSubForm() {
    document.getElementById("add_individual_for_sub_sub_Form").style.display = "none";
    document.getElementById("del_sub_subconcept_Form").style.display = "none";
    document.getElementById("id_concept_name_for_sub").value = '';
    document.getElementById("id_sub_concept_individual_name").value = '';
    document.getElementById("id_sub_sub_concept_individual_name").value = '';
    document.getElementById("id_concept_name_for_del_sub_sub").value = '';
    document.getElementById("id_sub_concept_name_for_del_sub_sub").value = '';
    document.getElementById("id_del_sub_sub_concept_name").value = '';
}


function openSaveForm() {
    document.getElementById("save_Form").style.display = "block";
    }

function closeSaveForm() {
    document.getElementById("save_Form").style.display = "none";
    document.getElementById("id_file_name").value = '';
}

function openOpenForm() {
    document.getElementById("open_Form").style.display = "block";
     }

function closeOpenForm() {
    document.getElementById("open_Form").style.display = "none";
    
}

function openCommentForm() {
    document.getElementById("comment_Form").style.display = "block";
     }

function closeCommentForm() {
    document.getElementById("comment_Form").style.display = "none";
    
}

</script>